<%- include("./partials/header") %>

<h1>Compose</h1>
<!-- 
<input type="text" name="article">
</form> -->
<form action="/compose" method="post">
<div class="form-group">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="article">
    <label for="exampleFormControlTextarea1" class="form-label">Post</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" name="content"></textarea>
  </div>
    <button type="submit" class="btn btn-primary" name="button" value="publish">Publish</button>
</form>
<%- include("./partials/footer") %>